ul {
  list-style: none; }

.body {
  max-width: 2200px;
  margin: 0 auto; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.page {
  background-size: cover;
  min-height: calc(100vh - 5px);
  background-position: center top; }

#navigation {
  position: relative;
  filter: none;
  overflow: hidden; }

.nav_shade {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  position: fixed;
  top: 5px;
  height: 100px;
  width: 100%;
  max-width: 2200px;
  margin: 0 auto;
  z-index: 3; }

.nav_bar {
  position: fixed;
  top: 5px;
  height: 100px;
  width: 100%;
  max-width: 2200px;
  margin: 0 auto;
  z-index: 11; }
  .nav_bar img {
    position: absolute;
    top: 30px;
    left: 50px; }
  .nav_bar #bars {
    position: absolute;
    z-index: 100;
    right: 30px;
    top: 20px;
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: solid 3px #fff;
    text-align: center; }
    .nav_bar #bars span {
      display: inline-block;
      background-color: #fff;
      width: 18px;
      height: 3px;
      position: absolute;
      left: 9px;
      top: 16px;
      border-radius: 50px; }
      .nav_bar #bars span::before {
        content: '';
        display: inline-block;
        background-color: #fff;
        width: 18px;
        height: 3px;
        position: absolute;
        bottom: 7px;
        left: 0px;
        transition: .1s ease-in-out;
        border-radius: 50px; }
      .nav_bar #bars span::after {
        content: '';
        display: inline-block;
        background-color: #fff;
        width: 18px;
        height: 3px;
        position: absolute;
        top: 7px;
        left: 0px;
        transition: .1s ease-in-out;
        border-radius: 50px; }
      .nav_bar #bars span.x_animation {
        width: 0; }
        .nav_bar #bars span.x_animation::before {
          bottom: 0;
          transition: transform .3s ease-in-out;
          transform: rotateZ(-45deg); }
        .nav_bar #bars span.x_animation::after {
          top: 0;
          transition: transform .3s ease-in-out;
          transform: rotateZ(45deg); }
    .nav_bar #bars:hover span::before {
      width: 14px;
      left: 2px; }
    .nav_bar #bars:hover span::after {
      width: 14px;
      left: 2px; }
    .nav_bar #bars:hover .x_animation::before {
      width: 18px;
      left: 0px; }
    .nav_bar #bars:hover .x_animation::after {
      width: 18px;
      left: 0px; }

nav {
  position: fixed;
  top: 46px;
  height: 1px;
  width: 1px;
  right: calc(50vw - (1100px - 42px));
  z-index: 10;
  overflow: hidden;
  transition: 1.3s;
  border-radius: 50%; }
  nav.display {
    height: 8000px;
    width: 8000px;
    top: calc(-4000px + 45px);
    right: calc(-4000px + (50vw - (1100px - 50px))); }
  nav #viewport {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px; }
    nav #viewport #background {
      position: absolute;
      left: 0;
      right: 0;
      top: 5px;
      bottom: 0;
      text-align: right;
      background-position: center top;
      background-size: cover;
      filter: grayscale(100%);
      width: 2200px;
      margin: 0 auto;
      max-width: 100vw;
      z-index: 2; }
    nav #viewport #color {
      background-color: rgba(87, 161, 169, 0.9);
      position: fixed;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      z-index: 4; }
    nav #viewport .body {
      position: relative;
      z-index: 5; }
  nav .container {
    margin-top: 250px; }
    nav .container .primery {
      text-align: right;
      border-right: 2px solid #fff;
      display: inline-block;
      padding: 15px 70px;
      font-size: 3rem;
      font-size: responsive 2rem 2.5rem;
      font-range: 400px 1200px;
      margin: 0; }
      nav .container .primery li {
        padding-bottom: 30px; }
    nav .container .cases {
      vertical-align: top;
      columns: 2;
      column-gap: 0px;
      display: inline-block;
      font-size: 2rem;
      margin-top: 70px;
      font-size: responsive 1rem 1.5rem;
      font-range: 700px 1200px; }
      nav .container .cases li {
        padding-bottom: 20px;
        transition: .3s; }
        nav .container .cases li:hover {
          color: #fff; }
      nav .container .cases:hover {
        color: #7eb4b9; }
    nav .container .SoMe {
      text-align: center;
      margin-top: 230px; }
      nav .container .SoMe li {
        display: inline-block; }

@media screen and (max-width: 900px) {
  .primery {
    display: block !important;
    border: none !important;
    text-align: center !important; }
  .cases {
    display: none !important; } }

.frost {
  filter: blur(5px); }

.menu_open {
  overflow: hidden; }

.page {
  transition: .4s; }

a {
  text-decoration: none;
  color: inherit; }

html body {
  margin: 0px;
  border-top: 5px solid #57a1a9;
  background-color: #000;
  color: #fff;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Merriweather', serif; }
