@font-face {
  font-family: 'ATS-Script';
  src: url("../assets/webfonts/36107A_0_0.eot");
  src: url("../assets/webfonts/36107A_0_0.eot?#iefix") format("embedded-opentype"), url("../assets/webfonts/36107A_0_0.woff2") format("woff2"), url("../assets/webfonts/36107A_0_0.woff") format("woff"), url("../assets/webfonts/36107A_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'ATSCond-Cd';
  src: url("../assets/webfonts/36107A_1_0.eot");
  src: url("../assets/webfonts/36107A_1_0.eot?#iefix") format("embedded-opentype"), url("../assets/webfonts/36107A_1_0.woff2") format("woff2"), url("../assets/webfonts/36107A_1_0.woff") format("woff"), url("../assets/webfonts/36107A_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'ATSExtras-Regular';
  src: url("../assets/webfonts/36107A_2_0.eot");
  src: url("../assets/webfonts/36107A_2_0.eot?#iefix") format("embedded-opentype"), url("../assets/webfonts/36107A_2_0.woff2") format("woff2"), url("../assets/webfonts/36107A_2_0.woff") format("woff"), url("../assets/webfonts/36107A_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'ATSCond-CdC';
  src: url("../assets/webfonts/36107A_3_0.eot");
  src: url("../assets/webfonts/36107A_3_0.eot?#iefix") format("embedded-opentype"), url("../assets/webfonts/36107A_3_0.woff2") format("woff2"), url("../assets/webfonts/36107A_3_0.woff") format("woff"), url("../assets/webfonts/36107A_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'ATSMarker-Marker';
  src: url("../assets/webfonts/36107A_4_0.eot");
  src: url("../assets/webfonts/36107A_4_0.eot?#iefix") format("embedded-opentype"), url("../assets/webfonts/36107A_4_0.woff2") format("woff2"), url("../assets/webfonts/36107A_4_0.woff") format("woff"), url("../assets/webfonts/36107A_4_0.ttf") format("truetype"); }

.stripes, .case_thumb, body {
  background-color: #0c0c0c;
  background: linear-gradient(135deg, rgba(51, 51, 51, 0.3) 11.11%, #000000 11.11%, #000000 50%, rgba(51, 51, 51, 0.3) 50%, rgba(51, 51, 51, 0.3) 61.11%, #000000 61.11%, #000000 100%);
  background-size: 12.73px 12.73px; }

.stripes_under {
  background-color: #0c0c0c;
  background: linear-gradient(135deg, white 11.11%, #000000 11.11%, #000000 50%, white 50%, white 61.11%, #000000 61.11%, #000000 100%);
  background-size: 12.73px 12.73px; }

.stripes_transparant, #team .profil .sog_job, .case_headsection .live_link, .arkk .stripe_breaker, .vivaldi .stripe_breaker {
  background-color: #0c0c0c;
  background: linear-gradient(135deg, rgba(51, 51, 51, 0.3) 11.11%, transparent 11.11%, transparent 50%, rgba(51, 51, 51, 0.3) 50%, rgba(51, 51, 51, 0.3) 61.11%, transparent 61.11%, transparent 100%);
  background-size: 12.73px 12.73px; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

#main {
  transition: .2s; }

.frost {
  filter: blur(5px); }

.noscrool {
  overflow: hidden; }

p {
  font-family: "Encode Sans Expanded", sans-serif;
  font-size: responsive .7rem .9rem;
  font-range: 400px 1200px;
  color: #aaaaaa;
  line-height: 1.4rem;
  margin-top: 0; }

.case_thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 45px; }
  .case_thumb .container {
    overflow: hidden; }
    .case_thumb .container img {
      opacity: .25;
      margin-top: 0 !important;
      filter: grayscale(100%);
      width: 100%;
      transition: .5s ease-in-out, transform .7s ease-out;
      display: block; }
  .case_thumb .txt {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
    font-family: "Encode Sans Expanded", sans-serif;
    font-size: responsive .5rem .7rem;
    font-range: 900px 1200px;
    line-height: 1.5rem; }
    .case_thumb .txt div {
      display: inline-block; }
    .case_thumb .txt .labels {
      font-weight: 600;
      margin-right: 20px; }
  .case_thumb:hover img {
    opacity: 1;
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: .5s ease-in-out, transform .4s ease-in-out; }

.row {
  lost-utility: clearfix; }

.tall {
  lost-column: 1/3 3 45px; }

.full {
  lost-column: 1/1 1 0px; }

.half {
  lost-column: 1/2 2 45px; }

.rubrik {
  text-align: center;
  margin-bottom: 250px !important; }
  .rubrik h4 {
    font-size: responsive 1rem 1.5rem !important;
    line-height: responsive 1.5rem 2.5rem;
    margin: 0 auto;
    max-width: 1000px; }
  .rubrik span {
    font-weight: 600;
    border-bottom: 3px solid #57a1a9; }

h1 {
  color: #57a1a9;
  font-family: ATS-Script;
  font-size: responsive 3rem 7rem;
  line-height: responsive 1rem 5rem;
  font-range: 400px 1200px;
  font-weight: 400;
  margin-bottom: 60px;
  font-variant-ligatures: no-contextual; }

h2 {
  font-size: responsive 1rem 2.5rem !important;
  font-range: 400px 1200px;
  font-weight: 400; }

h3 {
  font-family: ATS-Script; }

h4 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 20px; }

.indledning {
  font-weight: 600;
  color: #fff;
  font-size: responsive .8rem 1rem; }

section:last-of-type {
  margin-bottom: 80vh; }

.scr_reveal_fadeup, .init_reveal_fadeup, .scr_reveal_fadeup_large {
  visibility: hidden !important;
  opacity: 0 !important;
  transform: translateY(30px); }
  .scr_reveal_fadeup.slidein, .init_reveal_fadeup.slidein, .scr_reveal_fadeup_large.slidein {
    transition: 1s ease-out;
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0px); }

@keyframes glide_up {
  from {
    transform: translateY(-160px); }
  to {
    transform: translateY(-350px); } }

@media screen and (max-width: 900px) {
  h2 {
    margin-top: 10px; } }

@media screen and (max-width: 1200px) {
  .rubrik {
    margin-bottom: 10vh !important; } }

@media screen and (max-width: 700px) {
  .half {
    lost-column: 1/1 1 0px;
    margin-bottom: 40px; } }

@media screen and (max-width: 700px) {
  .case_thumb {
    background: none; }
    .case_thumb img {
      opacity: 100;
      margin-top: 0 !important;
      filter: grayscale(0%);
      width: 100%;
      transition: .5s ease-in-out, transform .7s ease-out;
      display: block; }
    .case_thumb .txt {
      position: static;
      padding: 10px;
      line-height: 1rem; } }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: #0c0c0c;
  color: #fff;
  font-family: "Merriweather", serif;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body::-webkit-scrollbar {
    width: 0 !important; }
  body .barba-container {
    min-height: 100vh; }
  body .viewport {
    max-width: 2560px;
    margin: 0 auto;
    min-height: 100px;
    background-color: #0c0c0c; }
    body .viewport .fullwidth {
      position: relative; }
    body .viewport .wide_wrapper {
      width: 1800px;
      margin: 0 auto;
      max-width: 100vw; }
    body .viewport .wrapper {
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      padding: 20px; }
    body .viewport section:last-of-type {
      margin-bottom: 900px; }

@media screen and (max-height: 900px) {
  .viewport section:last-of-type {
    margin-bottom: 85vh !important; } }

@media screen and (max-height: 670px) {
  .viewport section:last-of-type {
    margin-bottom: 75vh !important; } }

#load_screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 300000;
  display: flex;
  justify-content: center;
  align-items: center; }
  #load_screen .load_area {
    text-align: center; }
    #load_screen .load_area h2 {
      font-size: .7rem !important;
      margin-bottom: 30px; }
    #load_screen .load_area h3 {
      font-size: 1.5rem;
      color: #3d3d3d;
      font-family: "Encode Sans Expanded", sans-serif;
      font-weight: 100; }
      #load_screen .load_area h3::after {
        content: '%'; }
    #load_screen .load_area .bar {
      width: 170px;
      height: 3px;
      margin: 0  auto;
      background-color: #252525;
      position: relative; }
      #load_screen .load_area .bar #progres {
        transition: 1s ease-in;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 100%;
        background-color: #57a1a9; }

.navigation {
  user-select: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-top: 5px solid #57a1a9;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent) !important;
  height: 80px;
  z-index: 10; }
  .navigation .viewport {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    pointer-events: none;
    height: 100vh; }
    .navigation .viewport .page_logo {
      display: inline-block;
      pointer-events: all; }
      .navigation .viewport .page_logo svg {
        vertical-align: middle;
        margin-left: 50px;
        margin-top: 30px;
        position: relative;
        z-index: 10000000;
        width: 90px;
        image-rendering: crisp-edges; }
        .navigation .viewport .page_logo svg path {
          transition: .5; }
        .navigation .viewport .page_logo svg:hover #W path {
          fill: #437a81;
          transition: .7s; }
        .navigation .viewport .page_logo svg:hover #T path {
          fill: #57a1a9;
          transition: .7s .2s; }

.menu {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 46px;
  width: 46px;
  pointer-events: all; }

.menu.open .menu-circle {
  transform: scale(1);
  opacity: 0; }

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1002; }

.menu-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
  border: 2px solid #fff;
  border-radius: 50%;
  pointer-events: all; }

.menu-line {
  background-color: #fff;
  height: 2px;
  width: 55%;
  border-radius: 3px;
  position: absolute;
  transition: all 0.25s ease-in-out;
  left: 7px; }

.menu-line-1 {
  top: 8px; }

.menu-line-2 {
  top: 14px; }

.menu-line-3 {
  top: 20px; }

.menu.open .menu-line-1 {
  transform: translateY(7px) translateY(-50%) rotate(-135deg); }

.menu.open .menu-line-2 {
  opacity: 0; }

.menu.open .menu-line-3 {
  transform: translateY(-7px) translateY(50%) rotate(135deg); }

.n_nav {
  background-color: #57a1a9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: .5s ease-in;
  border-radius: 50%;
  z-index: 6; }

.inner_nav {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 11;
  user-select: none;
  display: none;
  pointer-events: all; }
  .inner_nav .con {
    margin: calc(50vh -200px) auto;
    max-width: 1200px;
    display: block;
    text-align: center; }
    .inner_nav .con .p_wrapper {
      display: inline-block;
      padding-right: 60px;
      border-right: #fff 2px solid;
      max-height: 0 !important;
      transition: .8s .3s ease-in-out;
      transition-delay: .5s; }
      .inner_nav .con .p_wrapper.open {
        max-height: 400px !important; }
    .inner_nav .con .primery {
      text-align: right;
      font-size: responsive 1.5rem 2.5rem;
      font-range: 500px 1200px;
      padding: 0;
      line-height: responsive 3rem 4rem;
      display: inline-block;
      margin: 0;
      max-height: 0;
      transition: .8s .3s ease-in-out;
      transition-delay: .5s; }
      .inner_nav .con .primery a {
        display: inline-block;
        opacity: 0;
        transition: .2s ease-in-out; }
        .inner_nav .con .primery a li {
          transition: .15s ease-out;
          padding: 0px 0px 0 0;
          display: inline-block; }
        .inner_nav .con .primery a:first-of-type li {
          padding-top: 10px; }
        .inner_nav .con .primery a:last-of-type li {
          padding-bottom: 10px; }
      .inner_nav .con .primery.open {
        max-height: 400px; }
        .inner_nav .con .primery.open a {
          opacity: 1; }
          .inner_nav .con .primery.open a:nth-of-type(1) {
            transition-delay: 950ms; }
          .inner_nav .con .primery.open a:nth-of-type(2) {
            transition-delay: 1200ms; }
          .inner_nav .con .primery.open a:nth-of-type(3) {
            transition-delay: 1450ms; }
          .inner_nav .con .primery.open a:nth-of-type(4) {
            transition-delay: 1700ms; }
          .inner_nav .con .primery.open a:nth-of-type(5) {
            transition-delay: 1950ms; }
          .inner_nav .con .primery.open a:nth-of-type(6) {
            transition-delay: 2200ms; }
          .inner_nav .con .primery.open a:nth-of-type(7) {
            transition-delay: 2450ms; }
        .inner_nav .con .primery.open:hover li {
          color: #7fb4b9; }
    .inner_nav .con .cases {
      font-size: responsive 1rem 1.5rem;
      font-range: 900px 1200px;
      line-height: 3rem;
      display: inline-block;
      vertical-align: top;
      margin: 0;
      margin-top: 50px;
      text-align: left;
      padding: 0; }
      .inner_nav .con .cases a {
        visibility: hidden;
        transition: .2s ease-in-out;
        display: block;
        opacity: 0; }
        .inner_nav .con .cases a li {
          transition: .15s ease-out;
          padding-left: 40px; }
      .inner_nav .con .cases:hover li {
        color: #7fb4b9; }
      .inner_nav .con .cases a:hover li {
        color: #fff; }
      .inner_nav .con .cases.open a {
        visibility: visible;
        opacity: 1; }
        .inner_nav .con .cases.open a:nth-of-type(1) {
          transition-delay: 2090ms; }
        .inner_nav .con .cases.open a:nth-of-type(2) {
          transition-delay: 2180ms; }
        .inner_nav .con .cases.open a:nth-of-type(3) {
          transition-delay: 2270ms; }
        .inner_nav .con .cases.open a:nth-of-type(4) {
          transition-delay: 2360ms; }
        .inner_nav .con .cases.open a:nth-of-type(5) {
          transition-delay: 2450ms; }
        .inner_nav .con .cases.open a:nth-of-type(6) {
          transition-delay: 2540ms; }
        .inner_nav .con .cases.open a:nth-of-type(7) {
          transition-delay: 2630ms; }
        .inner_nav .con .cases.open a:nth-of-type(8) {
          transition-delay: 2720ms; }
        .inner_nav .con .cases.open a:nth-of-type(9) {
          transition-delay: 2810ms; }
        .inner_nav .con .cases.open a:nth-of-type(10) {
          transition-delay: 2900ms; }
        .inner_nav .con .cases.open a:nth-of-type(11) {
          transition-delay: 2990ms; }
        .inner_nav .con .cases.open a:nth-of-type(12) {
          transition-delay: 3080ms; }
        .inner_nav .con .cases.open a:nth-of-type(13) {
          transition-delay: 3170ms; }
        .inner_nav .con .cases.open a:nth-of-type(14) {
          transition-delay: 3260ms; }
        .inner_nav .con .cases.open a:nth-of-type(15) {
          transition-delay: 3350ms; }
    .inner_nav .con .hov_exit {
      display: inline-block; }
    .inner_nav .con .SoMe {
      margin-top: 100px; }
      .inner_nav .con .SoMe li {
        display: inline-block;
        padding: 13px;
        opacity: 0;
        visibility: hidden;
        transition: .2s ease-in-out; }
        .inner_nav .con .SoMe li a svg {
          transition: .2s ease-out;
          height: 50px; }
          .inner_nav .con .SoMe li a svg path {
            transition: .3s;
            fill: #fff; }
        .inner_nav .con .SoMe li:hover a svg {
          transition: .3s ease-out;
          transform: scale(1.15); }
          .inner_nav .con .SoMe li:hover a svg path {
            fill: #fff !important; }
      .inner_nav .con .SoMe .wrap {
        display: inline-block; }
        .inner_nav .con .SoMe .wrap:hover li path {
          fill: #7fb4b9; }
      .inner_nav .con .SoMe.open li {
        visibility: visible;
        opacity: 1; }
        .inner_nav .con .SoMe.open li:nth-of-type(1) {
          transition-delay: 3037.5ms; }
        .inner_nav .con .SoMe.open li:nth-of-type(2) {
          transition-delay: 3150ms; }
        .inner_nav .con .SoMe.open li:nth-of-type(3) {
          transition-delay: 3337.5ms; }
        .inner_nav .con .SoMe.open li:nth-of-type(4) {
          transition-delay: 3600ms; }
        .inner_nav .con .SoMe.open li:nth-of-type(5) {
          transition-delay: 3937.5ms; }
        .inner_nav .con .SoMe.open li:nth-of-type(6) {
          transition-delay: 4350ms; }
        .inner_nav .con .SoMe.open li:nth-of-type(7) {
          transition-delay: 4837.5ms; }

#bg {
  position: fixed;
  top: 5px;
  bottom: 0px;
  width: 100vw;
  max-width: 2560px;
  max-width: 100vw;
  margin: 0 auto;
  z-index: 9;
  overflow: hidden; }
  #bg img {
    filter: grayscale(100%);
    opacity: .2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%; }

.menu:hover .n_nav {
  height: 100px;
  width: 100px;
  transition: .4s ease-in-out;
  animation-name: menu_pulse;
  animation-duration: 1s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.ldBar {
  position: fixed;
  top: 0;
  width: 1%;
  max-width: 2560px;
  margin: 0 auto;
  height: 5px;
  background-color: #57a1a9;
  z-index: 500; }
  .ldBar.load {
    transition: 4s;
    width: 100%; }

.menu.open .n_nav {
  transition: .7s ease-in; }

@keyframes menu_pulse {
  from {
    box-shadow: 0px 0px 0px 0px #57a1a9; }
  to {
    box-shadow: 0px 0px 0px 10px #57a1a9; } }

@media screen and (max-width: 800px) {
  .inner_nav .con .p_wrapper {
    display: inline-block;
    border-right: none !important;
    max-height: 500px !important;
    transition: .8s .3s ease-in-out;
    transition-delay: .5s;
    text-align: center !important;
    padding-right: 0px; }
    .inner_nav .con .p_wrapper.open {
      max-height: 500px !important; }
  .inner_nav .con .primery {
    text-align: center !important;
    padding-right: 0px; }
  .inner_nav .con .cases {
    display: none !important; }
  .inner_nav .con .SoMe {
    margin-top: 30px !important;
    padding: 0; }
    .inner_nav .con .SoMe li {
      padding: 10px; }
      .inner_nav .con .SoMe li a svg {
        height: 40px; } }

@media screen and (max-width: 600px) {
  .n_nav {
    transition: .7s ease-out; }
  .navigation {
    height: 80px; }
    .navigation .viewport .page_logo svg {
      margin-left: 15px;
      margin-top: 25px; }
  .menu {
    top: 10px;
    right: 15px; }
  #bg img {
    transform: scale(1.4);
    transform-origin: top; } }

@media screen and (max-height: 430px) {
  .SoMe {
    display: none; }
  .primery {
    margin-top: 100px !important;
    line-height: 2.3rem !important; } }

@media screen and (min-width: 2560px) {
  .menu.open .n_nav {
    width: 6000px !important;
    height: 6000px !important;
    transition: 1.2s ease-out; } }

#pagefooter {
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: -1;
  text-align: center;
  width: 2560px;
  max-width: 100vw;
  background-color: #000; }
  #pagefooter .positioner {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; }
  #pagefooter .logo {
    margin-bottom: 90px;
    max-width: 90%; }
  #pagefooter .primery {
    margin: 0 auto;
    padding: 0;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 100px;
    width: 300px; }
    #pagefooter .primery a li {
      margin: 0 auto; }
  #pagefooter .SoMe {
    padding: 0;
    margin-bottom: 100px; }
    #pagefooter .SoMe a li {
      display: inline-block;
      padding: 7px; }
      #pagefooter .SoMe a li svg {
        height: 35px;
        transition: .3s; }
        #pagefooter .SoMe a li svg path {
          fill: #fff; }
    #pagefooter .SoMe a:hover li svg {
      transform: scale(1.2); }
      #pagefooter .SoMe a:hover li svg path {
        fill: #57a1a9;
        transition: .3s; }
  #pagefooter .adr {
    margin-bottom: 40px;
    padding: 0;
    color: #7a7a7a;
    font-family: "Encode Sans Expanded", sans-serif;
    font-size: .8rem; }
    #pagefooter .adr li {
      display: inline-block;
      padding: 7px; }

@media screen and (max-height: 900px) {
  .logo {
    margin-bottom: 30px !important; }
  .primery {
    margin-bottom: 30px !important; }
  .SoMe {
    margin-bottom: 30px !important; }
  .adr {
    margin-bottom: 10px !important; } }

@media screen and (max-height: 670px) {
  .logo {
    margin-bottom: 60px !important; }
  #pagefooter .positioner {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #pagefooter .primery {
    display: none !important; }
  .SoMe {
    margin-bottom: 30px !important; } }

#header_section {
  background-color: #0c0c0c;
  text-align: center;
  width: 100%;
  padding-bottom: 200px;
  padding-top: 60px;
  position: relative; }
  #header_section img {
    width: 100%;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    opacity: .2; }
  #header_section .ontop h1 {
    margin-top: 900px;
    margin-bottom: 0px;
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 30px; }
  #header_section #first_section {
    margin-top: 40px; }
    #header_section #first_section h1 {
      margin-bottom: 60px;
      line-height: 7rem;
      padding-top: 50px;
      margin-top: -50px;
      padding-bottom: 30px; }
    #header_section #first_section h2 {
      max-width: 810px;
      margin: 0 auto;
      font-size: responsive 1.4rem 2.2rem; }

@media screen and (max-width: 2700px) {
  #header_section .ontop h1 {
    margin-top: 25vw; } }

@media screen and (max-width: 1200px) {
  #header_section {
    padding-bottom: 10vw; }
    #header_section #first_section h1 {
      line-height: responsive 3rem 7rem !important;
      margin-bottom: 5vw;
      overflow: visible;
      text-align: center;
      display: inline-blocks; } }

@media screen and (max-width: 600px) {
  #header_section {
    overflow: hidden; }
    #header_section img.page_img {
      transform: scale(1.4);
      transform-origin: top; } }

.forside_header#header_section img {
  opacity: 1 !important; }

#forside_cases_mobil {
  display: none; }

#forside_cases {
  lost-utility: clearfix;
  padding-bottom: 170px; }

#ikoner {
  lost-utility: clearfix;
  background-color: #111111;
  padding-top: 100px; }
  #ikoner .ikon {
    lost-column: 1/3;
    text-align: center;
    margin-bottom: 150px; }
    #ikoner .ikon svg {
      height: 75px;
      fill: #fff; }
    #ikoner .ikon:hover h4, #ikoner .ikon.run_ani h4 {
      color: #57a1a9; }
    #ikoner .ikon:hover p, #ikoner .ikon.run_ani p {
      color: #fff; }

#partner_logoer {
  text-align: center;
  padding: 150px 0; }
  #partner_logoer img {
    padding: 21px;
    vertical-align: middle; }

#insta {
  padding: 100px 0 150px 0;
  background-color: #111111; }
  #insta #instafeed {
    lost-utility: clearfix; }
    #insta #instafeed .insta_thumb {
      lost-column: 1/6 6 30px;
      padding-bottom: 30px; }
      #insta #instafeed .insta_thumb:hover div.f {
        pointer-events: none; }
        #insta #instafeed .insta_thumb:hover div.f div.ol {
          opacity: .8;
          top: 0% !important;
          bottom: 100%;
          transition: .3s, bottom .3s .3s; }
      #insta #instafeed .insta_thumb:hover img {
        opacity: 1 !important;
        filter: none !important;
        transform: scale(1.1);
        transition: .3s ease-in-out; }
      #insta #instafeed .insta_thumb div.f {
        position: relative;
        overflow: hidden; }
        #insta #instafeed .insta_thumb div.f div.ol {
          background-color: #57a1a9;
          position: absolute;
          top: 100%;
          bottom: 0;
          left: 0;
          right: 0;
          transition: .3s;
          z-index: 20;
          font-family: "Encode Sans Expanded", sans-serif;
          text-align: center;
          color: #fff;
          overflow: hidden;
          transition: 0s , bottom 0s; }
      #insta #instafeed .insta_thumb img {
        width: 100%;
        display: block;
        transition: .3s ease-out; }
    #insta #instafeed:hover .insta_thumb div.f img {
      opacity: .4;
      filter: grayscale(100%); }

#txtloop {
  height: 30px !important;
  margin-bottom: 50px; }
  #txtloop #wheel {
    transition: .5s ease-in-out; }
    #txtloop #wheel span {
      opacity: 0;
      vertical-align: middle;
      display: block;
      height: 60px;
      transition: .3s ease-in; }

@media screen and (max-width: 900px) {
  #ikoner {
    padding-top: 70px !important; }
    #ikoner .ikon {
      lost-column: 1/2;
      margin-bottom: 100px !important; }
  #partner_logoer {
    padding: 100px 0; }
  #insta {
    padding: 70px 0 50px 0 !important; }
    #insta #instafeed .insta_thumb {
      lost-column: 1/4 4 30px; }
  #forside_cases {
    display: none; }
  #forside_cases_mobil {
    display: block; } }

@media screen and (max-width: 700px) {
  #ikoner {
    padding-top: 50px !important; }
    #ikoner .ikon {
      margin-bottom: 80px !important; }
  #partner_logoer {
    padding: 70px 0; }
  #insta {
    padding: 50px 0 40px 0 !important; }
    #insta #instafeed .insta_thumb {
      lost-column: 1/3 3 30px; } }

@media screen and (max-width: 530px) {
  #ikoner .ikon {
    lost-column: 1/1;
    margin-bottom: 50px !important; }
  #insta #instafeed .insta_thumb {
    lost-column: 1/2 2 30px; }
  #partner_logoer {
    padding: 50px 0; } }

@media screen and (max-width: 370px) {
  #partner_logoer {
    padding: 50px 0; }
    #partner_logoer img {
      display: block;
      margin: 10px auto; } }

.cases {
  lost-utility: clearfix;
  margin-top: 250px;
  padding-bottom: 150px !important; }

#bureauet {
  overflow-x: hidden; }

#dna {
  background-color: #111111;
  lost-utility: clearfix;
  padding: 50px 0; }
  #dna .text_headline {
    lost-column: 4/12; }
    #dna .text_headline h1 {
      font-size: responsive 2.5rem 4.5rem !important;
      line-height: responsive 3rem 5rem !important;
      margin-bottom: 30px !important; }
  #dna .text {
    lost-column: 8/12; }
    #dna .text p {
      color: #fff;
      font-family: "Merriweather", serif;
      padding-right: 20px; }

#team {
  text-align: center;
  margin-top: 250px;
  padding-bottom: 330px; }
  #team .aktive {
    margin-top: 250px; }
  #team .profil {
    margin-left: 50px;
    margin-right: 50px;
    width: 400px;
    margin-bottom: 140px;
    text-align: right;
    position: relative; }
    #team .profil:nth-last-of-type(odd) {
      float: right;
      margin-top: -390px; }
    #team .profil .green_filter {
      position: absolute;
      top: 0;
      bottom: 0%;
      left: 0;
      right: 0;
      background-color: #57a1a9;
      z-index: 3;
      opacity: .8;
      transition: .4s .4s ease-in; }
      #team .profil .green_filter.slidein {
        bottom: 100% !important; }
    #team .profil .blockgin_out {
      position: absolute;
      top: 0;
      bottom: 0%;
      left: 0;
      right: 0;
      background-color: #0c0c0c;
      z-index: 4;
      transition: .4s ease-in; }
      #team .profil .blockgin_out.slidein {
        bottom: 100% !important; }
    #team .profil .title {
      position: absolute;
      bottom: 100%;
      right: 100%;
      width: 100px;
      border-bottom: 1px solid #fff;
      white-space: nowrap;
      transform: rotateZ(-90deg);
      transform-origin: right bottom;
      margin-right: 12px; }
      #team .profil .title h4 {
        font-size: .6rem;
        font-family: "Encode Sans Expanded", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .2rem;
        line-height: .7rem;
        margin: 0;
        position: absolute;
        right: 0;
        bottom: 10px;
        margin-right: -2px; }
    #team .profil .sog_job {
      height: 555px;
      text-align: center;
      padding: 30px;
      box-sizing: border-box; }
      #team .profil .sog_job h3 {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 80px; }
      #team .profil .sog_job .content {
        font-size: 1.15rem;
        line-height: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%); }
    #team .profil .img {
      width: 100%;
      position: relative;
      overflow: hidden;
      display: inline-block;
      vertical-align: top; }
      #team .profil .img img {
        position: relative;
        width: 100%;
        z-index: 1;
        transition: .3s;
        display: block; }
      #team .profil .img video {
        width: 100%;
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; }
      #team .profil .img .gradient {
        transition: .3s;
        opacity: 0;
        background: linear-gradient(transparent, black);
        position: absolute;
        bottom: 0px;
        right: 0px;
        left: 0px;
        top: 50%;
        z-index: 2; }
      #team .profil .img footer {
        position: absolute;
        bottom: 0px;
        right: 0px;
        left: 0px;
        top: 50%;
        z-index: 2;
        padding: 15px;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
        overflow: hidden; }
        #team .profil .img footer .title_card {
          text-align: center;
          overflow: hidden;
          position: absolute;
          bottom: 15px;
          left: 0;
          right: 0;
          top: 0; }
          #team .profil .img footer .title_card .t {
            padding-bottom: 5px;
            position: absolute;
            left: 0;
            right: 0;
            transition: .4s;
            bottom: -55px; }
            #team .profil .img footer .title_card .t .somerow {
              height: 30px;
              margin-top: 30px; }
            #team .profil .img footer .title_card .t a {
              padding: 0 10px; }
              #team .profil .img footer .title_card .t a svg {
                transition: .3s ease-out;
                height: 30px; }
                #team .profil .img footer .title_card .t a svg path {
                  fill: #fff; }
              #team .profil .img footer .title_card .t a:hover svg {
                transform: scale(1.1); }
                #team .profil .img footer .title_card .t a:hover svg path {
                  fill: #57a1a9; }
          #team .profil .img footer .title_card h3 {
            font-size: 2.7rem;
            margin: 0;
            font-weight: 400;
            margin-bottom: -15px;
            margin-top: 70px; }
          #team .profil .img footer .title_card h4 {
            font-family: "Encode Sans Expanded", sans-serif;
            color: #57a1a9;
            font-weight: 600;
            font-size: .9rem;
            margin: 0; }
          #team .profil .img footer .title_card h6 {
            font-family: "Encode Sans Expanded", sans-serif;
            font-size: responsive .7rem .9rem;
            color: #57a1a9;
            font-weight: 600;
            margin: 0;
            margin-top: 5px;
            margin-bottom: 10px; }
      #team .profil .img:hover img, #team .profil .img.run_vid img {
        opacity: 0;
        transform: scale(1.2); }
      #team .profil .img:hover .gradient, #team .profil .img.run_vid .gradient {
        opacity: 1; }
      #team .profil .img:hover footer .title_card .t, #team .profil .img.run_vid footer .title_card .t {
        bottom: 0px; }

@media screen and (max-width: 1101px) {
  #team {
    margin-top: 150px; }
    #team .aktive {
      margin-top: 150px; }
    #team .profil {
      width: 350px; }
      #team .profil h3 {
        font-size: 2.2rem !important;
        margin: 0;
        font-weight: 400;
        line-height: 2.5rem;
        margin-bottom: 5px !important; }
      #team .profil .sog_job {
        height: 450px !important; }
        #team .profil .sog_job .content {
          font-size: 1rem; }
          #team .profil .sog_job .content h3 {
            margin-bottom: 30px; } }

@media screen and (max-width: 970px) {
  #team {
    margin-top: 150px; }
    #team .aktive {
      margin-top: 150px; }
    #team .profil {
      width: 325px; }
      #team .profil h3 {
        font-size: 2.2rem !important;
        margin: 0;
        font-weight: 400;
        line-height: 2.5rem; }
      #team .profil .sog_job {
        height: 450px !important; }
        #team .profil .sog_job .content {
          font-size: 1rem; }
          #team .profil .sog_job .content h3 {
            margin-bottom: 30px; } }

@media screen and (max-width: 880px) {
  #team .profil {
    width: 300px; } }

@media screen and (max-width: 800px) {
  #team .profil {
    width: 400px;
    max-width: 80%;
    margin: 80px auto; }
    #team .profil:nth-last-of-type(odd) {
      float: none;
      margin-top: 0px;
      margin-right: auto; } }

@media screen and (max-width: 760px) {
  #dna .text_headline {
    lost-column: 1/1 !important; }
  #dna .text {
    display: block;
    box-sizing: border-box;
    margin-top: 30px;
    width: 600px;
    max-width: 95vw; }
  #team {
    margin-top: 100px; }
    #team .aktive .profil .img footer .title_card .t .somerow a {
      padding: 0 5px; } }

#header_section.kontakt_page h1 {
  margin-top: 5vw !important; }

#header_section.kontakt_page h2 {
  margin-top: 13vw !important; }

#header_section.kontakt_page img {
  opacity: .6; }

.biline {
  display: block;
  font-size: responsive .7rem 1.5rem;
  line-height: responsive 3rem 4rem; }

.adresse {
  text-align: center;
  font-size: responsive 1rem 1.25rem;
  line-height: 2rem;
  margin-top: -140px !important; }

.disclaimer {
  margin: 0 auto;
  line-height: 1.5rem;
  margin-top: 100px;
  color: #7a7a7a;
  font-family: "Encode Sans Expanded", sans-serif;
  font-size: responsive .7rem .9rem;
  margin-bottom: 200px;
  max-width: 400px; }

.dot {
  background-color: #57a1a9;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 22vw;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: dot;
  animation-duration: 1s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes dot {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(87, 161, 169, 0.3), 0px 0px 0px 20px rgba(87, 161, 169, 0.3); }
  100% {
    box-shadow: 0px 0px 3px 20px rgba(87, 161, 169, 0.3), 0px 0px 10px 20px rgba(87, 161, 169, 0.3); } }

@media screen and (max-width: 1550px) {
  #header_section.kontakt_page h1 {
    margin-top: 23vw !important;
    margin-bottom: 30px !important; }
  #header_section.kontakt_page h2 {
    margin-top: 0 !important; }
  .adresse {
    margin-top: -150px !important; } }

@media screen and (max-width: 1200px) {
  .adresse {
    margin-top: 0px !important; } }

@media screen and (max-width: 900px) {
  #header_section.kontakt_page h1 {
    margin-top: 23vw !important;
    margin-bottom: 10px !important; } }

@media screen and (max-width: 600px) {
  .dot {
    background-color: #57a1a9;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 31vw; } }

@media screen and (min-width: 2560px) {
  .dot {
    top: 555px; } }

.login form {
  text-align: center; }
  .login form button {
    border: none;
    border-radius: 5px;
    background-color: #57a1a9;
    box-shadow: 0px 4px 0px 0px #437a81;
    font-family: "Merriweather", serif;
    font-size: 1.2rem;
    color: #fff;
    padding: 10px 50px;
    display: inline-block;
    margin-top: 30px;
    font-weight: 600; }
  .login form .inp {
    border-radius: 5px;
    overflow: hidden;
    max-width: 370px;
    margin: 15px auto;
    position: relative; }
    .login form .inp input {
      border: none;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      appearance: none;
      background-color: #fff;
      width: 85%;
      font-size: 1.25rem;
      padding: 10px 30px;
      font-family: "Merriweather", serif;
      box-sizing: border-box;
      margin: 0;
      margin-left: 15%; }
      .login form .inp input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset; }
    .login form .inp span {
      display: block;
      width: 15%;
      background: linear-gradient(to right, #fff 0%, #fff 60%, #d3d3d3);
      color: #999;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 14px 10px;
      box-sizing: border-box; }

.login .login_disclaimer {
  text-align: center;
  max-width: 600px;
  margin: 120px auto; }

.case_headsection {
  padding-bottom: 150px !important; }
  .case_headsection .case_header {
    height: 460px !important;
    display: flex;
    justify-content: center;
    align-items: center; }
    .case_headsection .case_header .center_header h1 {
      line-height: responsive 6rem 6.5rem !important;
      margin-top: 50px !important;
      margin-bottom: 40px !important; }
    .case_headsection .case_header .center_header h2 {
      font-size: responsive 1.7rem 2.2rem;
      margin-bottom: 60px !important; }
  .case_headsection .hashtags {
    font-family: "Encode Sans Expanded", sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
    color: #ddd;
    margin-bottom: 10px; }
    .case_headsection .hashtags span {
      padding: 5px 10px;
      display: inline-block; }
  .case_headsection .live_link {
    text-align: center;
    padding: 50px;
    font-size: 2rem;
    margin-bottom: 80px; }
  .case_headsection .partner_logo {
    text-align: center; }
    .case_headsection .partner_logo img {
      display: inline-block;
      padding: 30px;
      position: static !important;
      width: auto !important;
      opacity: 1 !important;
      vertical-align: middle; }
  .case_headsection .text {
    background-color: #111111;
    margin-bottom: 50px;
    text-align: left;
    padding: 70px  100px; }
    .case_headsection .text .phone {
      display: inline-block;
      margin-right: 60px;
      vertical-align: top;
      position: relative;
      margin-top: -110px; }
      .case_headsection .text .phone img {
        position: relative !important;
        width: auto !important;
        z-index: 3;
        opacity: 1 !important; }
      .case_headsection .text .phone .showcase {
        position: absolute;
        top: 4%;
        bottom: 2%;
        left: 4%;
        right: 4%;
        z-index: 2;
        border-radius: 25px;
        overflow: hidden; }
        .case_headsection .text .phone .showcase img {
          position: relative !important;
          top: 0 !important;
          width: 100% !important; }
    .case_headsection .text .body {
      display: inline-block;
      vertical-align: top; }
      .case_headsection .text .body h2 {
        color: #57a1a9;
        margin-bottom: 30px !important;
        margin-top: 0px !important; }
      .case_headsection .text .body p {
        max-width: 550px; }
      .case_headsection .text .body .text_rubrik {
        color: #fff;
        font-weight: 600; }

@media screen and (max-width: 800px) {
  .case_headsection .case_header {
    height: 360px !important; } }

@media screen and (max-width: 500px) {
  .case_headsection .case_header {
    height: 270px !important; } }

.arkk .banner {
  position: relative;
  background-image: url("../assets/images/arkk_banner_bg.jpg");
  background-size: cover;
  background-position: center; }
  .arkk .banner .row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0; }
    .arkk .banner .row .banners iframe {
      overflow: hidden;
      border: none;
      margin: 30px; }

.arkk .stripe_breaker {
  margin-top: 30px;
  padding: 12px;
  margin-bottom: 100px; }

.arkk .devices {
  margin-bottom: 200px; }
  .arkk .devices .phone {
    position: relative;
    display: inline-block;
    margin-left: -100px;
    top: 20px; }
    .arkk .devices .phone img {
      width: auto !important;
      opacity: 1 !important;
      position: relative !important;
      z-index: 5; }
    .arkk .devices .phone .showcase {
      background-color: #000;
      position: absolute;
      top: 3.5%;
      bottom: 2%;
      left: 6%;
      right: 6%;
      z-index: 4;
      border-radius: 25px;
      overflow: hidden; }
      .arkk .devices .phone .showcase video, .arkk .devices .phone .showcase img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10; }
  .arkk .devices .ipad {
    position: relative;
    display: inline-block;
    max-width: 100%; }
    .arkk .devices .ipad img {
      width: auto !important;
      opacity: 1 !important;
      position: relative !important;
      z-index: 2;
      max-width: 100%; }
    .arkk .devices .ipad .showcase {
      position: absolute;
      top: 6.9%;
      bottom: 6.6%;
      left: 9.2%;
      right: 9.4%;
      z-index: 3;
      overflow: hidden; }
      .arkk .devices .ipad .showcase img {
        position: absolute !important;
        top: 0px !important;
        left: 0 !important;
        bottom: 0 !important;
        z-index: 10 !important;
        min-width: 100% !important;
        background-color: red; }

.arkk .text {
  margin-bottom: 200px;
  margin-top: 100px; }
  .arkk .text .image {
    width: 380px;
    margin-right: 40px;
    position: relative;
    display: inline-block;
    text-align: center; }
    .arkk .text .image .iframe_banner {
      position: relative !important;
      z-index: 5;
      margin-bottom: -90px;
      border: 1px solid #aaa; }
    .arkk .text .image img {
      width: auto !important;
      opacity: 1 !important;
      position: absolute !important; }
      .arkk .text .image img.large {
        right: auto;
        left: -30px !important;
        top: -100px !important;
        bottom: auto !important; }
      .arkk .text .image img.small {
        right: 0;
        left: auto !important;
        top: auto !important;
        bottom: -240px !important; }

.arkk #fra {
  overflow: hidden;
  height: 600px;
  width: 160px;
  position: relative;
  display: inline-block; }
  .arkk #fra .layer {
    position: absolute;
    display: none;
    bottom: -50px; }
  .arkk #fra #sprite {
    position: absolute;
    z-index: -1; }
  .arkk #fra #button {
    height: 35px;
    width: 126px;
    z-index: 200;
    position: absolute;
    bottom: 85px;
    right: 17px;
    overflow: hidden; }
    .arkk #fra #button .glair {
      background-color: #fff;
      height: 100px;
      width: 300px;
      display: none;
      transform: rotate(50deg);
      position: absolute;
      left: -270px;
      transition: .6s ease;
      z-index: 240; }
  .arkk #fra:hover #button .glair {
    left: 200px; }

@media screen and (max-width: 1214px) {
  .arkk .text .image {
    width: 300px;
    margin-bottom: 300px !important; }
    .arkk .text .image img.large {
      left: -85px !important; } }

@media screen and (max-width: 1139px) {
  .arkk .text {
    padding-left: 80px !important;
    padding-right: 30px !important; }
  .arkk .banner {
    min-height: 300px; }
    .arkk .banner .row {
      padding: 70px 0; }
      .arkk .banner .row .banners iframe {
        overflow: hidden;
        border: none;
        margin: 50px 0; }
        .arkk .banner .row .banners iframe:first-of-type, .arkk .banner .row .banners iframe:last-of-type {
          display: none; }
  .arkk .devices .phone {
    margin-left: -221px !important; } }

@media screen and (max-width: 1043px) {
  .arkk .text .image {
    display: block !important;
    width: 100% !important; }
    .arkk .text .image img.large {
      left: 10% !important; }
    .arkk .text .image img.small {
      right: 15% !important; } }

@media screen and (max-width: 968px) {
  .arkk .devices .phone {
    display: none !important; }
  .arkk .stripe_breaker {
    margin-bottom: 50px; } }

@media screen and (max-width: 680px) {
  .arkk .text {
    padding: 70px 30px !important; }
    .arkk .text .image {
      display: block !important;
      width: 100% !important; }
      .arkk .text .image img.large {
        left: 0% !important; }
      .arkk .text .image img.small {
        right: 0% !important; }
  .arkk .devices {
    margin-bottom: 110px; }
  .arkk .stripe_breaker {
    margin-bottom: 30px; } }

@media screen and (max-width: 530px) {
  .arkk .text .image img.large {
    left: -30px !important; }
  .arkk .text .image img.small {
    right: -30px !important; }
  .arkk .devices {
    margin-bottom: 80px; } }

.waterfront .labtop {
  margin-bottom: 120px;
  position: relative; }
  .waterfront .labtop img {
    position: relative !important;
    width: auto !important;
    opacity: 1 !important;
    max-width: 100%; }
  .waterfront .labtop .showcase {
    position: absolute;
    top: 6.7%;
    bottom: 11.1%;
    left: 11.6%;
    right: 11.6%;
    overflow: hidden; }
    .waterfront .labtop .showcase img {
      position: relative;
      top: 0 !important;
      width: 100% !important; }

.waterfront .text {
  background-color: #111111;
  margin-bottom: 50px;
  text-align: left;
  padding: 70px  100px; }
  .waterfront .text .phone {
    display: inline-block;
    margin-right: 60px;
    vertical-align: top;
    position: relative;
    margin-top: -110px;
    margin-bottom: 20px; }
    .waterfront .text .phone img {
      position: relative !important;
      width: auto !important;
      z-index: 3;
      opacity: 1 !important; }
    .waterfront .text .phone .showcase {
      position: absolute;
      top: 4%;
      bottom: 2%;
      left: 4%;
      right: 4%;
      z-index: 2;
      border-radius: 25px;
      overflow: hidden; }
      .waterfront .text .phone .showcase img {
        position: relative !important;
        top: 0 !important;
        width: 100% !important; }
  .waterfront .text .body {
    display: inline-block;
    vertical-align: top; }
    .waterfront .text .body h2 {
      color: #57a1a9;
      margin-bottom: 30px !important;
      margin-top: 0px !important; }
    .waterfront .text .body p {
      max-width: 550px; }
    .waterfront .text .body .text_rubrik {
      color: #fff;
      font-weight: 600; }

.waterfront .billeder {
  background-color: #111111;
  padding: 0px 70px;
  margin-bottom: 200px;
  text-align: left; }
  .waterfront .billeder img {
    width: auto !important;
    opacity: 1 !important;
    position: relative !important;
    top: -35px !important;
    box-shadow: 0px 0px 70px -20px #000;
    z-index: 3;
    max-width: 70%; }
    .waterfront .billeder img:last-of-type {
      margin-left: -100px;
      z-index: 2;
      top: 50px !important; }

@media screen and (max-width: 1185px) {
  .waterfront .billeder {
    padding: 0px 0px; } }

@media screen and (max-width: 1103px) {
  .waterfront .text .body {
    max-width: 400px !important; }
  .waterfront .billeder {
    position: relative !important; }
    .waterfront .billeder img:last-of-type {
      position: absolute !important;
      right: 0 !important;
      left: auto !important; } }

@media screen and (max-width: 955px) {
  .waterfront .text {
    text-align: center; }
    .waterfront .text .body {
      max-width: 600px !important;
      text-align: left; }
    .waterfront .text .phone {
      display: inline-block;
      margin-right: 0px;
      vertical-align: top;
      position: relative;
      margin-top: -110px;
      margin-bottom: 40px;
      max-width: 100%; }
      .waterfront .text .phone img {
        position: relative !important;
        width: auto !important;
        z-index: 3;
        opacity: 1 !important;
        max-width: 100%; }
      .waterfront .text .phone .showcase {
        position: absolute;
        top: 4%;
        bottom: 2%;
        left: 4%;
        right: 4%;
        z-index: 2;
        border-radius: 25px;
        overflow: hidden; }
        .waterfront .text .phone .showcase img {
          position: relative !important;
          top: 0 !important;
          width: 100% !important; }
  .waterfront .billeder {
    margin-bottom: 200px; }
    .waterfront .billeder img:last-of-type {
      margin-top: 130px; } }

@media screen and (max-width: 600px) {
  .waterfront .text {
    padding: 70px 40px !important; }
  .waterfront .billeder img:last-of-type {
    margin-top: 50px; } }

.vivaldi .main_image {
  margin-bottom: 100px; }
  .vivaldi .main_image img {
    opacity: 1 !important;
    position: static !important; }

.vivaldi .story {
  text-align: right;
  position: relative;
  margin-bottom: 100px; }
  .vivaldi .story .text {
    border-bottom: 20px solid #57a1a9;
    position: relative; }
    .vivaldi .story .text h2 {
      color: #57a1a9; }
    .vivaldi .story .text p {
      margin-right: 350px; }
      .vivaldi .story .text p.text_rubrik {
        font-weight: 600;
        color: #fff; }
  .vivaldi .story img {
    opacity: 1 !important;
    position: absolute !important;
    width: auto !important;
    padding-top: 70px;
    bottom: -100px !important;
    right: 0px !important;
    left: auto !important;
    top: auto !important;
    max-width: 70vw; }

.vivaldi .stripe_breaker {
  height: 60px; }

.vivaldi .stats {
  text-align: center;
  margin-top: 160px;
  lost-utility: clearfix;
  margin-bottom: 100px; }
  .vivaldi .stats h2 {
    color: #57a1a9; }
  .vivaldi .stats .stat {
    font-family: "Encode Sans Expanded", sans-serif;
    lost-column: 1/3 0;
    margin-bottom: 50px; }
    .vivaldi .stats .stat span {
      font-size: 4rem;
      display: block;
      font-weight: 900; }

.vivaldi .video {
  margin-top: 20px;
  margin-bottom: 60px; }
  .vivaldi .video p {
    color: #a9a9a9;
    font-family: "Encode Sans Expanded", sans-serif;
    font-size: .9rem;
    padding: 70px 100px; }

.vivaldi .partner_logo {
  margin-top: 70px; }

@media screen and (max-width: 900px) {
  .vivaldi .stats .stat {
    lost-column: 1/1 0 !important; }
  .vivaldi .story .text p {
    position: relative;
    margin: 0 !important;
    margin-bottom: 20px !important; }
    .vivaldi .story .text p:last-of-type {
      margin-bottom: 65vw !important; }
  .vivaldi .story img {
    bottom: -12vw !important; }
  .vivaldi .video p {
    padding: 50px 70px; } }

@media screen and (max-width: 900px) {
  .vivaldi .main_image {
    margin-bottom: 60px; }
  .vivaldi .story .text {
    padding: 30px !important; }
  .vivaldi .stats {
    margin-top: 100px;
    margin-bottom: 70px; } }

@media screen and (max-width: 700px) {
  .vivaldi .main_image {
    margin-bottom: 50px; }
  .vivaldi .stats {
    margin-top: 80px;
    margin-bottom: 50px; }
  .vivaldi .video p {
    padding: 40px 50px; } }

@media screen and (max-width: 500px) {
  .vivaldi .main_image {
    margin-bottom: 40px; }
  .vivaldi .stats {
    margin-top: 60px;
    margin-bottom: 40px; }
    .vivaldi .stats .stat span {
      font-size: 3rem; }
  .vivaldi .video p {
    padding: 20px 30px; } }

.footer_ani {
  position: relative;
  overflow: hidden;
  color: #fff; }
  .footer_ani:hover {
    transition: .3s;
    color: #222; }
    .footer_ani:hover::after {
      width: 100%;
      transition-delay: .4s;
      transition-duration: .5s; }
    .footer_ani:hover::before {
      left: 100%;
      right: 0%; }
  .footer_ani::after {
    color: #57a1a9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0px;
    overflow: hidden;
    line-height: 2rem;
    z-index: 3;
    transition-duration: 1s; }
  .footer_ani::before {
    content: '';
    position: absolute;
    left: 0%;
    right: 100%;
    top: 40%;
    bottom: 40%;
    background-color: #57a1a9;
    transition: 1s;
    transition: right .3s, left .2s .3s; }

.ani_whothat::after {
  content: 'Forside'; }

.ani_projekter::after {
  content: 'Projekter'; }

.ani_bureauet::after {
  content: 'Bureauet'; }

.ani_kontakt::after {
  content: 'Kontakt'; }

.ani_login::after {
  content: 'Kunde login';
  white-space: nowrap; }

.nav_ani {
  position: relative;
  overflow: hidden; }
  .nav_ani:hover {
    transition: .3s;
    color: #57a1a9; }
    .nav_ani:hover::after {
      width: 100%;
      transition-delay: .4s;
      transition-duration: .5s; }
    .nav_ani:hover::before {
      left: 100%;
      right: 0%; }
  .nav_ani::after {
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0px;
    overflow: hidden;
    line-height: 3.2rem;
    line-height: responsive 1.9rem 3.2rem;
    z-index: 3;
    transition-duration: 1s; }
  .nav_ani::before {
    content: '';
    position: absolute;
    left: 0%;
    right: 100%;
    top: 40%;
    bottom: 40%;
    background-color: #57a1a9;
    background-color: #fff;
    transition: 1s;
    transition: right .3s, left .2s .3s; }

.ani_whothat::after {
  content: 'Forside'; }

.ani_projekter::after {
  content: 'Projekter'; }

.ani_bureauet::after {
  content: 'Bureauet'; }

.ani_kontakt::after {
  content: 'Kontakt'; }

.ani_login::after {
  content: 'Kunde login';
  white-space: nowrap; }

.vanish {
  transform: translateX(50vw);
  opacity: 0;
  transition: 0.5s cubic-bezier(0.36, -0.92, 0.93, 0.28); }

.pre_reveal {
  opacity: 0;
  transform: translateX(-50vw); }

.reveal {
  transition: 0.5s cubic-bezier(0.36, -0.92, 0.93, 0.28); }

@media (hover: none), (hover: on-demand) {
  .menu:hover .n_nav {
    height: 0px;
    width: 0px;
    animation-play-state: paused; } }
