// ____Case standart stylings_____


.case_headsection

  h1
    line-height: responsive 6rem 6.5rem !important
    margin-top: 50px !important
    margin-bottom: 40px!important

  h2
    font-size: responsive 1.7rem 2.2rem
    margin-bottom: 60px !important

  .hashtags
    font-family: $enc
    text-transform: uppercase
    font-size: .8rem
    color: #ddd
    margin-bottom: 10px

    span
      padding: 5px 10px
      display: inline-block
      // padding-bottom: 15px


  .live_link
    @extend .stripes_transparant
    text-align: center
    padding: 50px
    font-size: 2rem
    margin-bottom: 80px


  .partner_logo
    text-align: center

    img
      display: inline-block
      padding: 30px
      position: static !important
      width: auto !important
      opacity: 1 !important
      vertical-align: middle


  .text
    background-color: $light_bg
    margin-bottom: 50px
    text-align: left
    padding: 70px  100px


    .phone
      display: inline-block
      margin-right: 60px
      vertical-align: top
      position: relative
      margin-top: -110px

      img
        position: relative !important
        width: auto !important
        // height: auto !important
        z-index: 3
        opacity: 1 !important

      .showcase
        // background-color: red
        position: absolute
        top: 4%
        bottom: 2%
        left: 4%
        right: 4%
        z-index: 2
        border-radius: 25px
        overflow: hidden

        img
          position: relative !important
          top: 0 !important
          width: 100% !important




    .body
      display: inline-block
      vertical-align: top


      h2
        color: $wt
        margin-bottom: 30px !important
        margin-top: 0px !important

      p
        max-width: 550px

      .text_rubrik
        color: #fff
        font-weight: 600
