#pagefooter
  position: fixed
  bottom: 0
  z-index: -1
  text-align: center
  width: 1200px
  max-width: 100vw

  .logo
    margin-bottom: 110px
    max-width: 90%

  .primery
    padding: 0
    font-size: 1.5rem
    line-height: 3rem
    margin-bottom: 110px

    li

      &:hover
        color: $wt

  .SoMe
    padding: 0
    margin-bottom: 100px

    li
      display: inline-block

  .adr
    margin-bottom: 40px
    padding: 0
    color: #7a7a7a
    font-family: $enc

    li
      display: inline-block
