.login

  form
    text-align: center

    button
      border: none
      border-radius: 5px
      background-color: $wt
      box-shadow: 0px 4px 0px 0px #437a81
      font-family: $mer
      font-size: 1.2rem
      color: #fff
      padding: 10px 50px
      display: inline-block
      margin-top: 30px
      font-weight: 600

    .inp
      border-radius: 5px
      overflow: hidden
      width: 370px
      margin: 15px auto

      input
        border: none
        background-color: #fff
        width: 100%
        font-size: 1.25rem
        padding: 15px 30px
        font-family: $mer
