a
  text-decoration: none
  color: inherit


ul
  list-style: none

#main
  transition: .2s

.frost
  filter: blur(5px)

.noscrool
  overflow: hidden

p
  font-family: $enc
  font-size: .9rem
  color: #aaaaaa
  line-height: 1.4rem
  margin-top: 0

.case_thumb
  @extend .stripes
  position: relative
  overflow: hidden

  img
    opacity: .2
    filter: grayscale(100%)
    transition: .9s ease-in-out
    // transition: transform 4s ease-in-out

  .txt
    position: absolute
    bottom: 0
    left: 0
    padding: 20px 30px
    font-family: $enc
    font-size: .7rem
    line-height: 1.5rem

    div
      display: inline-block

    .labels
      font-weight: 600
      margin-right: 20px

  &:hover
    img
      opacity: 1
      filter: grayscale(0%)
      transform: scale(1.1)


.tall
  lost-column: 1/3 3 45px
  height: 600px



h1
  color: $wt
  font-family: $hand
  font-size: 7rem
  font-weight: 400
  line-height: 5rem
  margin-bottom: 40px
  font-variant-ligatures: no-contextual

h2
  font-size: 2.5rem
  font-weight: 400

h4
  font-size: 1.25rem
  font-weight: 400
  margin-bottom: 20px



section

  &:last-of-type
    margin-bottom: 80vh
