$viewport: 2560px
$content: 1200px




$wt_dark: #437a81
$wt: #57a1a9
$light_bg: #111111
$dark_bg: #0c0c0c

$striped: linear-gradient(135deg, rgba(51, 51, 51, .3) 11.11%, #000000 11.11%, #000000 50%, rgba(51, 51, 51, .3) 50%, rgba(51, 51, 51, .3) 61.11%, #000000 61.11%, #000000 100%)

$striped_bg: linear-gradient(135deg, rgba(255,255,255, 1) 11.11%, #000000 11.11%, #000000 50%, rgba(255,255,255, 1) 50%, rgba(255,255,255, 1) 61.11%, #000000 61.11%, #000000 100%)


$striped_tp: linear-gradient(135deg, rgba(51, 51, 51, .3) 11.11%, rgba(0, 0, 0, 0) 11.11%, rgba(0, 0, 0, 0) 50%, rgba(51, 51, 51, .3) 50%, rgba(51, 51, 51, .3) 61.11%, rgba(0, 0, 0, 0) 61.11%, rgba(0, 0, 0, 0) 100%)



.stripes
  background-color: $dark_bg
  background: $striped
  background-size: 12.73px 12.73px

.stripes_under
  background-color: $dark_bg
  background: $striped_bg
  background-size: 12.73px 12.73px

.stripes_transparant
  background-color: $dark_bg
  background: $striped_tp
  background-size: 12.73px 12.73px




// @mixin border-radius($radius) {
// }

$hand: ATS-Script
$mer: 'Merriweather', serif
$enc: 'Encode Sans Expanded', sans-serif
